<?xml version="1.0"?>
<config>
    <modules>
       <PrismPayTech_PrismPay>
          <version>0.1.0</version>
       </PrismPayTech_PrismPay>
    </modules>
 
    <global>
    <blocks>
        <prismpay>
            <class>PrismPayTech_PrismPay_Block</class>
        </prismpay>
    </blocks>
        <models>
            <prismpay>
                <class>PrismPayTech_PrismPay_Model</class>
            </prismpay>
        </models>
        <resources>
            <prismpaytech_prismpay_setup>
                <setup>
                    <module>PrismPayTech_PrismPay</module>
                    <!--<class>Mage_Core_Model_Resource_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prismpaytech_prismpay_setup>
            
        </resources>
    </global>
    <default>
        <payment>
            <prismpay>
                <active>0</active>
                <model>prismpay/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Credit Card (prismpay)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </prismpay>
         </payment>
    </default>
</config>