<?xml version="1.0"?>
<config>
    <modules>
        <PrismPayTech_PrismProfile>
            <version>0.1.0</version>
        </PrismPayTech_PrismProfile>
    </modules>

    <global>
        <blocks>
            <prismprofile>
                <class>PrismPayTech_PrismProfile_Block</class>
            </prismprofile>
        </blocks>
        <models>
            <prismprofile>
                <class>PrismPayTech_PrismProfile_Model</class>
            </prismprofile>
        </models>
        <helpers>
            <prismprofile>
                <class>PrismPayTech_PrismProfile_Helper</class>
            </prismprofile>
        </helpers>

        <resources>
            <prismprofile_setup>
                <setup>
                    <module>PrismPayTech_PrismProfile</module>

                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prismprofile_setup>
            <prismprofile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prismprofile_write>
            <prismprofile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prismprofile_read>
        </resources>
    </global>

    <default>
        <payment>
            <prismprofile>
                <active>0</active>
                <model>prismprofile/paymentMethod</model>
                <order_status>pending</order_status>
                <title>CreditCard Profile</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </prismprofile>
        </payment>
    </default>
</config>