<?xml version="1.0"?>
<config>
    <modules>
        <PrismPayTech_PrismAch>
            <version>0.1.0</version>
        </PrismPayTech_PrismAch>
    </modules>

    <global>
        <blocks>
            <prismach>
                <class>PrismPayTech_PrismAch_Block</class>
            </prismach>
        </blocks>
        <models>
            <prismach>
                <class>PrismPayTech_PrismAch_Model</class>
            </prismach>
        </models>
        <helpers>
            <prismach>
                <class>PrismPayTech_PrismAch_Helper</class>
            </prismach>
        </helpers>
        <resources>
            <prismach_setup>
                <setup>
                    <module>PrismPayTech_PrismAch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prismach_setup>
            <prismach_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prismach_write>
            <prismach_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prismach_read>
        </resources>
    </global>
    <default>
        <payment>
            <prismach>
                <active>0</active>
                <model>prismach/paymentMethod</model>
                <order_status>pending</order_status>
                <title>PrismPay ACH</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </prismach>
        </payment>
    </default>
</config>